body{
    background-color:lightblue;
    color:blue #0000ff;
}

h2{
    color:white #ffffff !important;
    text-align: center;
}

#pagetitle{
    background-color:tomato;
    text-align: center;
    padding: 50px;
    border: solid;
    border-width: px;
    margin; 20px;
}

.center{
    display; block;
    margin-left: auto;
    margin-right: auto
}